body {
  height: 2500px;
  /* background-color: #000; */
  /* JAN */
}

.background-poster {
  filter: blur(5px) brightness(38%);
  width: 105%;
  height: 105%;
  top: -3%;
  left: -3%;
  bottom: -3%;
  position: absolute;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
