@import url("header.css");
@import url("main.css");
@import url("banner.css");
@import url("footer.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
@font-face {
  font-family: "fontello";
  src: url("./font/fontello.eot?97548525");
  src: url("./font/fontello.eot?97548525#iefix") format("embedded-opentype"),
    url("./font/fontello.woff?97548525") format("woff"),
    url("./font/fontello.ttf?97548525") format("truetype"),
    url("./font/fontello.svg?97548525#fontello") format("svg");
  font-style: normal;
  font-weight: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
}
.icon {
  font-family: "fontello";
  width: 1em;
  color: #fdfdfd;
  /* opacity: .8; */
  font-style: normal;
  font-weight: normal;
  text-align: center;
  display: inline-block;
  text-decoration: inherit;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-play:before {
  content: "\e800";
} /* '' */
.icon-play-circled2:before {
  content: "\e801";
} /* '' */
.icon-cancel:before {
  content: "\e802";
} /* '' */
.icon-menu:before {
  content: "\f0c9";
} /* '' */
.icon-youtube-play:before {
  content: "\f16a";
} /* '' */
.icon-instagram:before {
  content: "\f16d";
} /* '' */
.icon-down:before {
  content: "\f175";
} /* '' */
.icon-up:before {
  content: "\f176";
} /* '' */
.icon-left:before {
  content: "\f177";
} /* '' */
.icon-right:before {
  content: "\f178";
} /* '' */
.icon-apple:before {
  content: "\f179";
} /* '' */
.icon-spotify:before {
  content: "\f1bc";
} /* '' */
.icon-soundcloud:before {
  content: "\f1be";
} /* '' */
.icon-share:before {
  content: "\f1e0";
} /* '' */
.icon-twitch:before {
  content: "\f1e8";
} /* '' */
.icon-bandcamp:before {
  content: "\f2d5";
} /* '' */
.icon-facebook-squared:before {
  content: "\f308";
} /* '' */
